#container {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

#container h3 {
    margin: 0.5em 0;
    line-height: 1.5em;
}

#container p {
    margin: 0.5em 0;
    line-height: 1.5em;
}

#container div {
    width: 100%;
    padding: 1em 0;
}

#container div img {
    width: 100%;
    display: block;
}